.hamburger {
    background-color: $silver;
    display: block;
    height: 1px;
    max-width: 14px;
    position: relative;
    top: 2px;
    width: 100%;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        top: 4px;
        background-color: $silver;
    }
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        top: -4px;
        background-color: $silver;
    }
}
