/* The switch - the box around the slider */
$switch-width: 68px;
$switch-padding: $switch-width / 15;
$switch-height: $switch-width/2 + $switch-padding;
$switch-inner-height: $switch-width/2 - $switch-padding;

.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: $switch-inner-height;
  width: $switch-inner-height;
  left: $switch-padding;
  bottom: $switch-padding;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $dodger-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $dodger-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX($switch-inner-height);
  -ms-transform: translateX($switch-inner-height);
  transform: translateX($switch-inner-height);
}

/* Rounded sliders */
.slider.round {
  border-radius: $switch-height;
}

.slider.round:before {
  border-radius: 50%;
}
