$sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

$dodger-blue: #2196F3;
$dusty-gray: #999;
$gallery: #eee;
$mine-shaft: #333;
$silver: #ccc;
$wild-sand: #f5f5f5;

$gutter-vertical: 14px;
